// flex direction
@mixin flexDirextion($align: row) {
    display: flex;
    flex-direction: $align;
}

// center flex
@mixin centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// center flex direction
@mixin centerFlexDirection($align: row) {
    display: flex;
    flex-direction: $align;
    justify-content: center;
    align-items: center;
}

// Choix breakpoints
@mixin media-min($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) {
        &{ @content; }
    }
}

// Choix breakpoints + grid areas
@mixin media-grid-min($tag, $_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) {
        grid-template-areas: map-get($tag, $_key);
        &{ @content; }
    }
}

// Cercle
@mixin bpCercle {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
}

// linear-gradient  transition Text
@mixin gradientTransText {
    background: linear-gradient($colour-primary, $colour-secondary);
    transform: translate(-0%, -50%) scale(1.1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
    transition:all 300ms ease-in-out;
    opacity: 0;
}

// heart gradient
@mixin heart-gradient-hover {
    opacity: 0;
    @include gradientTransText;
    &:active{
        opacity: 1;
    }
    @include media-min(destop-up){
        &:hover{
            opacity: 1;
        }
    };
}

// position absolute center
@mixin posTopCenter{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}