// flex direction
@mixin flexDirextion($align: row) {
    display: flex;
    flex-direction: $align;
}

// center flex
@mixin centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// center flex direction
@mixin centerFlexDirection($align: row) {
    display: flex;
    flex-direction: $align;
    justify-content: center;
    align-items: center;
}

// Choix breakpoints
@mixin media-min($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) {
        &{ @content; }
    }
}

// Cercle
@mixin bpCercle {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
}

// linear-gradient  transition Text
@mixin gradientTransText {
    background: linear-gradient($colour-primary, $colour-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(1.1);
    transition:all 250ms ease-in-out;
    opacity: 0;
}