// flex direction
@mixin flexDirextion($align: row) {
    display: flex;
    flex-direction: $align;
}

// centrage item
@mixin centerFlex($align: row) {
    display: flex;
    flex-direction: $align;
    justify-content: center;
    align-items: center;
}

// Choix breakpoints
@mixin media-min($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) {
        &{ @content; }
    }
}

// Zoom item
@mixin bpZoom {
    transform: scale(1.015);
}

// Cercle sur bp
@mixin bpCercle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

// Ombre
@mixin boxShadow {
    box-shadow: 3px 5px 2px 0px rgba(0,0,0,0.4);
}

// centrage absolu
@mixin posAbsMid{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

// linear-gradient  transition
@mixin gradientTrans {
    background: linear-gradient($colour-primary, $colour-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(1.1);
    transition:all 250ms ease-in-out;
    opacity: 0;
}