// Color
$colour-primary: #9356DC ;
$colour-secondary: #FF79DA ;
$colour-Tertiaire: #99E2D0;
$colour-shadow: #a0a0a0;
$colour-gray: #eaeaea;
$colour-gray-light: #f6f6f6;

// Breakpoint
$breakpoints: (
    "tablet-up": 768px,
    "tablet": 850px,
    "destop-up": 992px
);
