// process
.process{
    display: grid;
    grid-template-areas: map-get($grid-process, mobile);
    @include media-grid-min($grid-process, tablet-up);
    @include media-grid-min($grid-process, destop-up);
    gap: 2rem;
    padding: 4rem 2rem;
    &__box{
        @extend .bp-process;
        position: relative;
        font-size: 1rem;
        cursor: pointer;
        &:active > i{
            color: $colour-primary;
        }
        @include media-min(destop-up)
        {
            &:hover > i{
                color: $colour-primary;
            }
        }
    }
    &__circle{
        @include bpCercle;
        @include posTopCenter;
        background-color: $colour-primary;
        color: white;
        left: -1rem;
    }
    &__icon{
        position: absolute;
        left: 2.3rem;
    }
    &__titre{grid-area: t1;} 
    &__box1{grid-area: b1;}
    &__box2{grid-area: b2;}
    &__box3{grid-area: b3;}
}