
*,
*::before,
*::after{
    padding: 0px;
    margin: 0px;
    box-sizing: inherit;
}

body{
    box-sizing: border-box;
    font-family: $font-Roboto;
}

.screen{
    max-width: $maxi-screen;
    margin: 0 auto;;
    margin: 0 auto;
}

h2{font-size: 2rem;}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
}