
*,
*::before,
*::after{
    padding: 0px;
    margin: 0px;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
}