
// Header
.header{
    text-align: center;
    box-shadow: 0 3px 3px 1px #d0d0d0;
    padding: 1.5rem 0;
    position: relative;
}

// MAIN

/* city */
.city{
    background-color: #f6f6f6;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1.5rem;
    &__icon{
        padding-right: 0.5rem;
    }
}