
// Layout
@import
    "../layout/header",
    "../layout/index/city",
    "../layout/index/explo",
    "../layout/index/process",
    "../layout/index/resto",
    "../layout/footer";

.screen{
    max-width: $maxi-screen;
    margin: 0 auto;;
    margin: 0 auto;
}