/* city */
.city{
    background-color: #eaeaea;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1.5rem;
    &__icon{
        padding-right: 0.5rem;
    }
    &__input{
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 1.5rem;
        font-weight: bold;
        &::placeholder{
            // firefox
            color: black;
            opacity: 1;
        }
        &::-webkit-input-placeholder{
            // chrome
            color: black;
        }
    }
}

/* explo */
.explo{
    @include flexMidCol;
    padding-bottom: 2rem;
    background-color: #f6f6f6;
    &__titre{
        @include flexMidCol;
        margin: 1.5rem 0;
        font-size: 1.75rem;
        @media (min-width: 768px){
            @include flexMidRow;
            & span{
                text-indent: 0.4rem;
            };
        }
    }
    &__text{
        @include flexMidCol;
        margin-bottom: 1.5rem;
        font-size: 1.25rem;
        @media (min-width: 768px){
            @include flexMidRow;
            & span{
                text-indent: 0.4rem;
            };
        }        
    }
    &__bp{
        border: none;
        color: white;
        margin: 2rem 0;
        font-weight: 300;
        font-size: 1.5rem;
        padding: 1rem 2rem;
        background-image: linear-gradient($colour-secondary,$colour-primary);
        border-radius: 2rem;
        cursor: pointer;
        @include bpShadow;
        &:hover{
            @include bpZoom;
        }
        &:active{
            @include bpZoom;
        }
    }
}

/* process */
.process{
    @include marginMid;
    padding: 2rem;
    & h2{
        margin-bottom: 1rem;
    }
    & ul{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @media (min-width: 950px) {
            flex-direction: row;
        }
    }
    & li{
        position: relative;
        background-color: #f6f6f6;
        padding: 1.25rem 2rem;
        border-radius: 1rem;
        flex-grow: 1;
        @include bpShadow;
        &:hover > i{
            color: $colour-primary;
        }
        &:hover{
            @include bpZoom;
        }
        & p{
            position: absolute;
            @include flexMidRow;
            background-color: $colour-primary;
            color: white;
            @include bpCercle;
            left: -1rem;
            top: 1rem;
        }
        & i.fas{
            margin-right: 1rem;
            font-size: 1.5rem;
        }
        & span{
            font-weight: bold;
        }
    }
}

/* resto */
.restoBackColor{
    background-color: #f6f6f6;
}
.resto{
    @include marginMid;
    padding: 2rem 2rem;
    background-color: #f6f6f6;
    &__titre{
        
        padding: 1.5rem 0;
    }
    &__cards{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;
        @media (min-width: 768px){
            flex-direction: row;
        }
    }
    &__card{
        width: 100%;
        &:hover{
            @include bpZoom;
        }
    }
    &__img{
        height: 45vh;
        & img{
            border-radius: 1.5rem 1.5rem 0 0;
            object-fit: cover;
            object-position: 50% 62%;
        }
    }
    &__text{
        position: relative;
        background-color: white;
        border-radius: 0 0 1.5rem 1.5rem;
        padding: 0 1rem;
        & h4{
            padding: 1rem 0;
        }
        & p{
            padding-bottom: 1rem;
        }
        & span{
            @include posAbsMid;
            font-size: 2rem;
            right: 2rem;
            & .fas{
                @include gradientTrans;
            }
            &:hover .fas{
                opacity: 1;
            }
        }
    }
    &__new{
        position: relative;
    }
    &__new::before{
        position: absolute;
        content: "Nouveau";
        width: 5rem;
        height: 2rem;
        background-color: $colour-Tertiaire;
        color: darken($color: $colour-Tertiaire, $amount: 40%);
        right: 1rem;
        top: 1rem;
        @include flexMid;
    }
}