.page{
    &__img{
        height: 20rem;
    }
    &__pos{
        position: relative;
        margin-top: -4rem;
        padding-top: 2rem;
        background-color: #f6f6f6;
        border-radius: 2.5rem 2.5rem 0 0;
        & h2{
            position: relative;
            font-family: 'Shrikhand', sans-serif;
            padding: 0 2rem;
            & span{
                @include posAbsMid;
                right: 3rem;
                & .fas{
                    @include gradientTrans;
                }
                &:hover .fas{
                    opacity: 1;
                }
            }
        }
    }
    &__boxs{
        padding: 2rem;
        border-radius: 2rem;
    }
    &__titre{
        padding: 1rem 0;
    }
    &__box{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @media (min-width: 992px){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__card{
        background-color: white;
        padding: 1rem;
        border-radius: 1rem;
        flex-grow: 1;
    }
    &__text{
        display: flex;
        justify-content: space-between;
        & span{
            font-weight: bold;
        }
    }
}