@mixin flexMid {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexMidCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexMidRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin bpShadow {
    box-shadow: 3px 6px 5px 1px rgba(0,0,0,0.3);
}

@mixin bpZoom {
    transform: scale(1.015);
}

@mixin bpCercle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

@mixin marginMid {
    max-width: 1445px;
    margin: 0 auto;
}

@mixin posAbsMid{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin gradientTrans {
    background: linear-gradient($colour-primary, $colour-secondary);
    background: -webkit-linear-gradient($colour-primary, $colour-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(1.1);
    transition:all 250ms ease-in-out;
    opacity: 0;
}